<a href="https://colab.research.google.com/github/dlwldbsd/train/blob/main/XML_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%8B%A4%EB%A3%A8%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###인증키 : 21998e4c7c2a7d34408432f6a860d991cb0d782975608558902a2b1a98414919

In [ ]:
key = """
<book>
  <name>나은찬</name>
  <school>신성여고</school>
  <year>2023</year>
</book>
"""

In [ ]:
import xml.etree.ElementTree as et
x = et.fromstring(key)

In [ ]:
type(x)

xml.etree.ElementTree.Element

In [ ]:
x.tag #부모의 이름

'book'

---------------------

우리는 xml 처리 x -> 문자열로 바꾸자!

라이브러리 함수 선언 -> 리스트 or 명령어

In [ ]:
#리스트
x_child = list(x)
x_child

[<Element 'name' at 0x78d8bd345ad0>,
 <Element 'school' at 0x78d8bd345e40>,
 <Element 'year' at 0x78d8bd345b70>]

In [ ]:
name, school, year = x
print(name.text)
print(school.text)
print(year.text)

나은찬
신성여고
2023

In [ ]:
#함수
name = x.findtext('name')
school = x.findtext('school')
year = x.findtext('year')
print(name, school, year)

나은찬 신성여고 2023

------------------------